<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<% include partials/head %>
</head>

<body ng-app="sweetcron" ng-controller="MainCtrl">
	<div class="container-fluid">
		<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
			<ul class="nav navbar-nav">
				<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
				<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
				<li ng-hide="isLoggedIn()"><a ui-sref="login">Log In</a></li>
				<li ng-hide="isLoggedIn()"><a ui-sref="register">Register</a></li>
			</ul>
		</nav>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ui-view></ui-view>
			</div>
		</div>
	</div>
	<% include partials/footer %>
	<% include partials/templates %>
</body>

</html>
